.userCentre {
    &__banner {
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-position: top;
        background-image: url("../../assets/Banner 1920x90.png");
    }

    &__menuAndContent {
        background: white;
        border: #e1e1e1 1px groove;
        border-radius: 10px;
        padding: 20px;
        min-height: 600px;
        margin: 0% 12.5% 0% 12.5%;
    }

    &__content {
        height: 600px;
        padding: 0px 20px 0px 20px;
        overflow: overlay;
    }

    &__bannerTitle{
        font-size: 45px;
        font-weight: 900;
        color: white;
        position: relative;
        text-indent: 17vw;
        height: 90px;
        display: flex;
        align-items: center;
    }
}