.userPortfolio{
    &__body{
        margin: 0% 12.5% 0% 12.5%;
    }

    &__nameCardAndMenu{
        background-color: #ffffff;
        border-left: #e1e1e1 1px groove;
        border-right: #e1e1e1 1px groove;
        border-bottom: #e1e1e1 1px groove;
    }

    &__avatarContainer {
        padding: 20px;
        width: 10%;
        margin: auto;
    }

    &__introContainer {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 20px;
    }

    &__content {
        background-color: #ffffff;
        height: 100%;
        margin-top: 20px;
        border: #e1e1e1 1px groove;
        padding: 20px;
        min-height: 350px;
    }

    &__descriptions {
        padding: 20px;
    }
}