.essays{



&__item {
    margin: 15px;
    display: flex;
    max-width: 100%;
    justify-content: center;
}



&__thumbnail {
    border: solid 1px #e9e9e9; 
    height: 100px;
    width: 150px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

&__info {
    display: flex;
    flex-direction: column;
    justify-items: center;

    width: 80%;
    // flex: 1;
    
}

&__info:hover {
    background-color: #F2F6F1
}

&__title {
    font-size: 30px;
    font-weight: 900;
    color: black;
}

&__content {
    font-size: 15px;
    font-weight: 500;
    color: #9e9e9e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

&__date {
    padding-top: 3px;
    font-size: 13px;
    font-weight: 100;
    color: #9e9e9e;
    width: 200px;
}

    
}
