.e-container {
  border-bottom: 1px solid black;
  max-width: 900px;
}

.e-item {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
}

.e-iconAndInfo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.e-thumbnail {
  background-color: #DFE88C;
  height: 100px;
  width: 150px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.e-info {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.e-title {
  font-size: 30px;
  font-weight: 900;
}

.e-typeSizeContainer {
  display: flex;
  justify-content: space-between;
  width: 200px;
  max-width: 900px;
}

.e-content {
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.e-date {
  padding-top: 3px;
  font-size: 13px;
  font-weight: 100;
  color: #9e9e9e;
}

.e-edit,
.e-delete {
  font-size: 18px;
  color: black;
  width: 80%;
  background-color: transparent;
  border: 0.5px solid #c2c0c0;
  margin: 7px;
  border-radius: 15px;
}

.e-edit:hover,
.e-delete:hover {
  background-color: #7cb305;
  color: white;
}