.essays__container {
    max-width: 1024px;
}

.essays__item {
    margin: 15px;
    display: flex;
    max-width: 1024px;
}

.essays__item:hover {


}

.essays__iconAndInfo {
    display: flex;
    align-items: center;
    margin-left: 15px;

}

.essays__thumbnail {
    background-color: #DFE88C;
    height: 100px;
    width: 150px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.essays__info {
    display: flex;
    flex-direction: column;
    max-width: 900px;

}

.essays__title {
    font-size: 30px;
    font-weight: 900;
    color: black;
}

.essays__content {
    font-size: 15px;
    font-weight: 500;
    color: #9e9e9e;
}

.essays__date {
    padding-top: 3px;
    font-size: 13px;
    font-weight: 100;
    color: #9e9e9e;
    width: 200px;
}
