.intro-page {

    display: flex;
    flex-direction: column;
    background-image: url('../assets/HomepageDecoration 1174x990.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position:right;
  }

.intro-page .slogan {
    margin: 5%;
    margin-bottom: 0;
    font-size: 100px;
    font-weight: 1000;
    line-height: 100%;
}
  
.intro-page .intro-text {
    margin: 2% 50% 0 5%;
    font-size: 30px;
    font-weight: 1000;
}
  
.intro-page .get-start {
    margin: 3% 5%;
    height: 10%;
    width: 20%;

    background-color:transparent;
}

.intro-page .get-start-button {
    height: 100%;
    width: 100%;
    border: none;
    color: white;
    background-color: #8CC63E;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 1000;
    padding: 5px;
    text-align: center;
}