* {
    font-family: 'Quicksand';
    font-weight: 900;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-page {
    flex-grow: 1;
    background-color: #F8F8F8;
    /* align-items: center; */
}

.signup-box {
    /* background-color: lightblue; */
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.signup-form {
    height: 70%;
    width: 100%;
    position: absolute;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
    font-size: 25px;
    color: #6b6868;
}

h2 {
    display: flex;
    justify-content: center;

    align-items: center;

    margin-bottom: 13%;
    font-size: 50px;
}

.signin-redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 15px;
    flex: 1;
    font-size: 20px;
    white-space: pre-wrap;
}