* {
    font-family: 'Quicksand';
    font-weight: 900;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-page {
    flex-grow: 1;
    background-color: #F8F8F8;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
}

.signup-form {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #6b6868;
    margin-bottom: 1%;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13%;
    font-size: 60px;
}

.signin-redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 15px;
    flex: 1;
    font-size: 20px;
    white-space: pre-wrap;
}