.banner{
    background-image: url('../assets/Banner 1920x126.png');
    background-repeat:no-repeat;
    background-size: 100vw;
}

h1 {
    font-size: 45px;
    font-weight: 1000;
    color: white;
    position: relative;
    padding-bottom: 30px;
    text-indent: 230px;

}


.sider-and-content{
    background: white;
    border: #6b6868 1px groove;
    border-radius: 25px;
    padding: 20px;

}

