.portfolio-all-but-header{
    background-color: #fafafa;
}

.name-card-and-menu {
    background-color: #ffffff;
    background-size: 100vw;
    border-left: #e1e1e1 1px groove;
    border-right: #e1e1e1 1px groove;
    border-bottom: #e1e1e1 1px groove;
}

.portfolio-avatar-container{
    padding: 20px;
    width: 10%;
    margin: auto;
}

.portfolio-intro-container{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.portfolio-content {
    background-color: #ffffff;
    height: 100%;
    margin-top: 20px;
    border: #e1e1e1 1px groove;
    padding: 20px;
    min-height: 350px;
    overflow: overlay;
}

.portfolio-descriptions{
    padding: 20px;
}