.media {
    &__card {
        margin-bottom: 20px;
        // flex: 1 0 21%;

    }

    &__meta {
        height: 50px;
        .ant-card-meta-description {
            height:40px;
        }
    }

    &__image {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        object-fit: cover;

        & .ant-image-img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
    }

    &__content {
        margin: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &::after {
            content: "";
            width: 200px;
        }
    }

}