* {
  font-family: "Quicksand";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  width: 100%;
  height: 100%;
  flex: max-content;
  border: none;
  background: transparent;
  font-size: 30px;
  font-weight: 900;
}

.navbar {
  /* height: 10vh; */
  border: 1px solid #e1e1e1;
  font-size: 15px;
  font-weight: 1000;
  background: transparent;
}

.navbar .search-bar {
  display: flex;
  align-content: center;
}

form.search-bar input {
  padding-left: 10px;
  border: 1px solid #cccccc;
  width: 90%;
  font-size: 15px;
  border-right: none;
  background: transparent;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: 1000;
}

form.search-bar button {
  /*width: 10%;*/
  padding-left: 10px;
  padding-right: 10px;
  color: #cccccc;
  border: 1px solid #cccccc;
  background: transparent;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.navbar .sign-button-container {
  width: 50%;
  height: 60%;
  display: flex;
  background: none;
  float: right;
}

.sign-in {
  width: 40%;
  background: None;
  padding: 5px;
  /*margin-right: 20%;*/
  display: flex;
  text-decoration: none;
}

.sign-up {
  width: 40%;
  color: white;
  background-color: white;
  padding: 5px;
  display: flex;
  text-decoration: none;
}

.sign-in-button {
  font-size: 1.2vw;
  font-weight: 1000;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: none;
}

.sign-up-button {
  color: white;
  background-color: #8cc63e;
  font-size: 1.2vw;
  font-weight: 1000;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

.avatar-container {
  float: right;
}