.header{
  &__logo{
    width: 100%;
    height: 100%;
    flex: max-content;
    border: none;
    background: transparent;
    font-size: 30px;
  }

  &__navbar {
    border: 1px solid #e1e1e1;
    font-size: 15px;
    background: transparent;
  }

  &__searchBar {
    display: flex;
    align-content: center;
  }

  &__signButtonContainer {
    width: 50%;
    height: 60%;
    display: flex;
    background: none;
    float: right;
  }

  &__signIn {
    width: 40%;
    background: None;
    padding: 5px;
    display: flex;
    text-decoration: none;
  }

  &__signUp {
    width: 40%;
    color: white;
    background-color: white;
    padding: 5px;
    display: flex;
    text-decoration: none;
  }

  &__signInButton {
    width: 100%;
    height: 100%;
  }

  &__signUpButton {
    width: 100%;
    height: 100%;
  }

  &__avatarContainer {
    display: flex;
    width:25%;
    float: right;
  }

  &__logo:hover{
    cursor: pointer;
  }
}