.searchResult {
  &__empty{
    margin-top: 15%;
    font-size: 24px;
  }

  &__container {
    background-color: white;
    border: #e1e1e1 1px groove;
    border-radius: 15px;
    margin: 1% 12.5% 1% 12.5%;
  }

  &__item {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black
  }
  &__item:hover{
    color: white;
  }

  &__avatarAndInfo {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  &__avatarContainer {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;

  }

  &__name {
    font-size: 24px;
    font-weight: 900;
    max-width: 50vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__intro {
    font-size: 15px;
    font-weight: 900;
    max-width: 50vw;
  }

  &__container:hover{
    background-color: #7cb305;
    margin: 1% 10% 1% 10%;
    cursor: pointer;
  }
}