.container {
    border-bottom: 1px solid #959595;
}

.item {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconAndInfo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.typeIcon {
    /* box-sizing: border-box; */
    background-color: #DFE88C;
    height: 78px;
    width: 78px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 30px;
}

.info {
    display: flex;
    flex-direction: column;

}

.title {
    font-size: 24px;
    font-weight: 900;
}

.typeSizeContainer {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.type,
.size {
    font-size: 18px;
    font-weight: 500;

}

.date {
    padding-top: 3px;
    font-size: 12px;
    font-weight: 100;
    color: #9e9e9e;
}

.download,
.delete {
    font-size: 18px;
    width: 80%;
    background-color: transparent;
    border: 0.5px solid #c2c0c0;
    margin: 7px;
    border-radius: 15px;
}

.download:hover,
.delete:hover {
    background-color: #8CC63E;
    color: white;
}