.searchAndSortBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.searchBar {
    border: 1px solid #c2c0c0;
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 30px;
    width: 50%;
    border-radius: 10px;
}

.sortBar {
    width: 30%;
    margin-right: 15px;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid #c2c0c0;
    border-radius: 5px;
}